.outer-segment-padding,
.segment-grid-table > div > .ui.grid > .row,
.segment-grid-table > div > .ui.grid > .row > .column {
  padding: 0 !important;
}

.segment-grid-table > div > .ui.grid{
  margin: 0
}

.segment-grid-table .griddle-container .griddle-body > div > table, .segment-grid-table .table{
  border: 0 !important;
}