form fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
.hide {
  display: none;
}
.show{
    display: block;
}

.is-focused:not(.is-open) > .Select-control {
  /*border-width: 0px;*/
  border-color: #85B7D9 !important;
  box-shadow: none !important;
}

.Select-input > input{
    border:none !important;
}


.ui.form .field.field-error > label{
 color: #9F3A38 !important;
}

.error-detail {
    color: #9F3A38 !important;
    list-style-type: none;
}

ul.error-detail{
    padding-left:5px;
}

.ui.form .field-error > input[type="text"],
.ui.form .field-error > input[type="number"],
.ui.form .field-error > input[type="password"],
.ui.form .field-error > input[type="search"],
.ui.form .field-error > input[type="tel"],
.ui.form .field-error > input[type="time"],
.ui.form .field-error > input[type="url"],
.ui.form .field-error > input[type="datetime-local"],
.ui.form .field-error > input[type="email"],
.ui.form .field-error > input[type="date"],
.ui.form .field-error > input[type="file"],
.ui.form .field-error > input[role="combobox"],
.ui.form .field-error .Select-control,
.ui.form .field-error input:not([type])
{
    background: #FFF6F6 !important;
    border-color: #E0B4B4 !important;
    color: #9F3A38 !important;
    border-radius: '';
    box-shadow: none;
}

.ui.form .field-error .Select-control .Select-placeholder
{
    color: #9F3A38 !important;
}


.ui.form .fields-error .field label, 
.ui.form .field-error label, 
.ui.form .fields-error .field .input, 
.ui.form .field-error .input {
    color: #9F3A38 !important;
}

.ui.form .field-error .checkbox:not(.toggle):not(.slider) .box:before, 
.ui.form .field-error .checkbox:not(.toggle):not(.slider) label:before, 
.ui.form .fields.error .field .checkbox:not(.toggle):not(.slider) .box:before, 
.ui.form .fields.error .field .checkbox:not(.toggle):not(.slider) label:before {
    background: #fff6f6;
    border-color: #e0b4b4;
}