.center {
    text-align: center;
}
.page-count-wrapper {
    line-height: 28px;
}

.griddle .footer-container{
  padding:0px;
  background-color:#F9FAFB;
  border:0px;
  color:#222;
}

.float-right{
    float: right;
}