.list-inline {
    padding-left: 0;
    margin-top: 0px;
    margin-left: -5px;
    list-style: none;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.ui.form select {
    height: 36px !important;
}