$datepicker__background-color: #f0f0f0 !default;
$datepicker__border-color: #aeaeae !default;
$datepicker__highlighted-color: #b22121 !default;
$datepicker__muted-color: #ccc !default;
$datepicker__selected-color: #cccccc !default;
$datepicker__text-color: #000 !default;

$datepicker__border-radius: .3rem !default;
$datepicker__day-margin: .166rem !default;
$datepicker__font-size: .8rem !default;
$datepicker__item-size: 1.7rem !default;
$datepicker__margin: .4rem !default;
$datepicker__navigation-size: .45rem !default;
$datepicker__triangle-size: 8px !default;